@model WebApplicationMusei.Models.Entities.Citta

@{
    ViewData["Title"] = Model.Nome;
}

<h1>@Model.Nome</h1>

@Html.ActionLink(Model.Nazione.Nome, "Details", "Nazioni", new { id = Model.Nazione.Id })
<img src="~/uploads/nazioni/@Model.Nazione.Id/@Model.Nazione.ImgBandiera" width="200" />